<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nutrimatic Server</title>
    <link rel="stylesheet" href="{{ static_url("nutrimatic.css") }}" type="text/css">
    <!-- <script src="{{ static_url("react-0.14.2.js") }}"></script> -->
    <!-- <script src="{{ static_url("react-dom-0.14.2.js") }}"></script> -->
    <script src="https://fb.me/react-0.14.2.js"></script>
    <script src="https://fb.me/react-dom-0.14.2.js"></script>
    <script src="{{ static_url("sockethelper.js") }}" ></script>
    <script src="{{ static_url("babel-browser-5.8.23.min.js") }}"></script>
    <script src="{{ static_url("nutrimatic.jsx") }}" type="text/babel"></script>
  </head>
  <body>
    <div id="body">
    </div>
  </body>
</html>
